<div class="contents row">
  <% @tweets.each do |t| %>
      <div class="content_post" >
      <span class="name">
       <%= t.name %>
      </span>
      <p><%= t.text %></p>
     <div class="audio">
     <audio src= "<%= "#{t.file}" %>" controls="">
         <a src="<%= "#{t.file}" %>">ダウンロード</a>
     </audio>
     </div>
    </div >
  <% end %>
</div>
