<div class="contents row">
<div class="message top">
<p>思い出せないあの曲を、鼻歌で載せて検索しよう！！</p>
</div>
  <% @tweets.each do |tweet| %>
        <%= render partial: "tweet", locals: { tweet: tweet} %>
  <% end %>
</div>
