<div class="contents row">
<div class="message top">
<p>思い出せないあの曲を、鼻歌共有で解決しよう！！</p>
</div>
  <div class="new_content" >
  <div class="categry">
  <p >新着</p>
  </div>
  <% @tweets.each do |tweet| %>
  <%= render partial: "tweet", locals: { tweet: tweet} %>
  <% end %>
  </div>

  <div class="unsolved_content">
  <div class="categry">
  <p>未解決</p>
  </div>
    <% @tweets.each do |tweet| %>
      <% if tweet.check_id == 1 %>
        <%= render partial: "tweet", locals: { tweet: tweet} %>
      <%end%>
    <% end %>
  </div>
  <div class="solution_content">
<div class="categry">
  <p>解決済</p>
  </div>
    <% @tweets.each do |tweet| %>
    <% if tweet.check_id == 2 %>
        <%= render partial: "tweet", locals: { tweet: tweet} %>
     <% end %>
  <% end %>
  </div>
</div>
 
