ul li {
 list-style: none;
 display: inline-block;
}

body{
  padding:100px 300px;
  bottom: 10px;
  background-color:rgb(245, 241, 241); 
}

header.header {
  background: black;
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 15px;
  display: flex;
  justify-content: space-between;
}

.contents row{
  height: calc(100%-10px);
} 
.users ul {
  display: flex;
}

h1.grid-6{
  padding-left: 70px;
}
h1.grid-6 a {
  color: black;
  text-decoration:none;
}
div.contents.row div.content_post {
  padding: 10px 10px 5px 10px;
  position: relative;
  height: 100%;
  color: #000;
  background-color: rgb(255, 255, 255);
  background-size: cover;
  background-position: center center;
  border: 2px solid black;
  border-radius: 5px ;
}
.show_list{
  display: flex;
  justify-content: space-between;
}
.name_show {
  display: flex;
  justify-content: space-between;
}

.show_text p {
  color: red;
}

.show {
    padding: 2px 5px;
    border: 1px solid black;
    font-size: 8px;
    display: inline-block;
    }
.delete {
  padding: 2px 5px;
  border: 1px solid black;
  font-size: 8px;
  display: inline-block;
}
.delete:hover{
  border-color: red;
}

.users_show:hover{
  border-color: rgb(53, 208, 255);
   }
.show:hover{
  border-color: rgb(53, 208, 255);
   }
.users_show {
position:relative;
left: 650px;
padding: 2px 5px;
border: 1px solid black;
font-size: 8px;
display: inline-block;
}

.user__info li {
margin-top: 25px;
margin-right: 30px;
padding: 3px 10px;
border: 1px solid black;
}
.user__info li:hover{
  border-color: rgb(53, 208, 255);
}

p{
  margin-bottom: 10px;
}

/* ここから下がボタンのCSS　*/



a {
text-decoration: none;
color: black;
}

a:hover{
    border-color: rgb(53, 208, 255);
    outline-color: transparent;
    outline-offset: 12px;
    transform: scale(1);
}

.users{
  padding-left: 50px;
}

.message.top p {
  background: gray;
  text-align: center;
  line-height: 50px;
  color: #fff;
}



/* 音声録音 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1, h2 {
  font-size: 2rem;
  text-align: center;
  font-weight: normal;
  padding: 0.5rem 0 0 0;
}

.main-controls {
  padding: 0.5rem 0;
}

canvas {
  display: block;
  margin-bottom: 0.5rem;
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#buttons button {
  font-size: 1rem;
  padding: 1rem;
  width: calc(50% - 0.25rem);
}

button {
  font-size: 1rem;
  background: #0088cc;
  text-align: center;
  color: white;
  border: none;
  transition: all 0.2s;
  padding: 0.5rem;
}

button:hover, button:focus {
  box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 1);
  background: #0ae;
}

button:active {
  box-shadow: inset 0px 0px 20px rgba(0,0,0,0.5);
  transform: translateY(2px);
}


/* Make the clips use as much space as possible, and
 * also show a scrollbar when there are too many clips to show
 * in the available space */
.sound-clips {
  flex: 1;
  overflow: auto;
}

section, article {
  display: block;
}

.clip {
  padding-bottom: 1rem;
}

audio {
  width: 100%;
  display: block;
  margin: 1rem auto 0.5rem;
}

.clip p {
  display: inline-block;
  font-size: 1rem;
}

.clip button {
  font-size: 1rem;
  float: right;
}

button.delete {
  background: rgb(255, 0, 0);
  padding: 0.5rem 0.75rem;
  font-size: 0.8rem;
}

/* Checkbox hack to control information box display */


input[type=checkbox] {
   position: absolute;
   top: -100px;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: 0.3s all ease-out;
  background-color: #efefef;
  padding: 1rem;
}

aside p {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

aside a {
  color: #666;
}

/* Toggled State of information box */
input[type=checkbox]:checked ~ aside {
  transform: translateX(0);
}

/* Cursor when clip name is clicked over */

.clip p {
  cursor: pointer;
}

/* Adjustments for wider screens */
@media all and (min-width: 800px) {
  /* Don't take all the space as readability is lost when line length
     goes past a certain size */
  .wrapper {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
  }
}

button {
  text-align: center;
  box-sizing: border-box;
  /* overflow: hiddenにより上下位置にズレが生じるのでdisplay: blockのみ対応可 */
  overflow: hidden;
  display: block;
  width: 300px;
  margin: 30px auto;
  /* その他スタイル */
  position: relative;
  color: white;
  font-weight: bold;
  font-size: 16px;
  line-height: 1;
  padding: 12px 20px;
  border: 1px solid #447fff;
  transition: color 0.5s ease-out;
}

textarea {
  width: 100%;
  margin-top: 10px;
}

input {
margin: 10px;
}

.categry p {
 display: inline-block;
 background: rgba(255, 0, 0, 0.753);
 padding: 3px 10px;
 font-size: 10px;
 border-radius: 2px;
 color: black;
 margin: 3px 0;
}
.content_new p {
  color: red;
}

.container{
margin: 0 25%;
}
.container h2{
margin-bottom: 50px;
}